/* Graphic component styles */
.asset--logo--graphic__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.asset--logo--graphic__container__svg {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    height: var(--graphic-size);
}