/* Notification container styles */
.notification-container::before {
    background-color: var(--color-dark-error);
}

/* Notification text styles */
.notification--error {
    outline: var(--outline-width) solid var(--color-error);
}

/* Notification close button styles */
.notification__close-button {
    color: var(--color-error);
}