/* Notification main container styles */
.notification__main-container {
    z-index: 1;
    position: relative;
    padding: 0.6rem 0.8rem;
    width: 100%;
    max-width: var(--notifications-container-max-width);
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
}

.notification__main-container::before {
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.55;
    background-color: var(--color-dark-grey);
    border-radius: inherit;
    pointer-events: none;
}

/* Notification content container styles */
.notification__main-container__content-container {
    z-index: 3;
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 0 0.4rem;
}

/* Notification close container styles */
.notification__main-container__close-container {
    grid-column: 2/-1;
    grid-row: 1/-1;
    align-self: start;
    display: grid;
    place-items: center;
    width: 100%;
}

/* Notification close button styles */
.notification__main-container__close-container__button {
    cursor: pointer;
    pointer-events: auto;
}

/* Notification content styles */
.notification__main-container__content {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    place-items: center;
    width: 100%;
}