/* Notification container styles */
.notification-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 0.6rem 0.8rem;
    gap: 0 0.4rem;
    width: 100%;
    max-width: var(--notifications-container-max-width);
    border-radius: 4px;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    background-color: transparent;
    text-align: center;
    backdrop-filter: blur(2px);
}

.notification-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: inherit;
}

/* Notification close container styles */
.notification__close-container {
    grid-column: 2/-1;
    grid-row: 1/-1;
    align-self: start;
    display: grid;
    place-items: center;
    width: 100%;
}

/* Notification close button styles */
.notification__close-button {
    pointer-events: auto;
}

/* Notification content styles */
.notification__content {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    place-items: center;
    width: 100%;
}