/* Input main container styles */
.input__main-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    width: 100%;
}

/* Input container styles */
.input__main-container__input-container {
    padding: 1rem var(--input--horizontal-padding);
    grid-column: 1/-1;
    grid-row: 1/2;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    align-items: center;
    gap: 0.4rem;
    border-radius: 8px;
    transition: outline var(--color-transition-duration);
    outline: var(--outline-width) solid transparent;
}

/* Input label component styles */
.input__main-container__input-container__label {
    grid-column: 1/-1;
    grid-row: 1/2;
}

/* Input component styles */
.input__main-container__input-container__input {
    font-size: var(--text--input--font-size);
    font-weight: var(--text--input--font-weight);
    letter-spacing: var(--text--input--letter-spacing);
    font-family: var(--font-family), sans-serif;
    grid-column: 1/2;
    grid-row: 2/-1;
    border: none;
    outline: none;
    width: 100%;
}

.input__main-container__input-container:has(.input:focus),
.input__main-container__input-container:has(.input:focus-visible) {
    outline: var(--outline-width) solid var(--color-primary);
}

/* Input error container styles */
.input__main-container__error-container {
    font-size: var(--text--small--font-size);
    font-weight: var(--text--small--font-weight);
    letter-spacing: var(--text--small--letter-spacing);
    text-transform: uppercase;
    color: var(--color-error);
    height: 1em;
    grid-column: 1/-1;
    grid-row: 2/-1;
    text-align: end;
    padding: 0 var(--input--horizontal-padding);
    opacity: 0;
    transition: opacity var(--color-transition-duration);
}

.input__main-container__error-container--active {
    opacity: 1;
}

.input__main-container__input-container,
.input__main-container__input-container__input {
    background-color: var(--text--background-color);
    color: var(--text--color);
}