/* Button component styles */
.button {
    border: none;
    cursor: pointer;
    transition: border-color var(--color-transition-duration),;
    font-family: inherit;
    display: grid;
    place-items: center;
}