/* Form component styles */
.form__container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0.6rem 1.6rem;
    width: 100%;
}

/* Submit button styles */
.form__container__submit-button {
    grid-column: 1/-1;
    margin-top: 1rem;
}