/* Label component styles */
.label__container__label {
    display: block;
    font-size: var(--text--label--font-size);
    font-weight: var(--text--label--font-weight);
    letter-spacing: var(--text--label--letter-spacing);
    color: var(--text--color);
    text-transform: uppercase;
}