/* App container styles */
.app-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    height: 100%;
    background-color: var(--background-color);
    color: var(--color);
}

/* Notifications container styles */
.notifications-container--relative {
    --notifications-container-max-width: 30rem;

    rotate: 180deg;
    justify-self: end;
    align-self: end;
    grid-row: 1/-1;
    grid-column: 1/-1;
    pointer-events: none;
    position: relative;
    margin: 3rem;
    width: 100%;
    max-width: var(--notifications-container-max-width);
}

.notifications-container--absolute {
    position: absolute;
}

.notifications-container--absolute div:not(:last-child) .notification-container {
    margin-bottom: 1rem;
}

/* Notification container styles */
.notification-container {
    rotate: 180deg;
    pointer-events: auto;
    animation: moveUp var(--animation-move-duration) ease-in-out forwards;
}

.notification-container.notification-container--new {
    animation: moveFromBottom var(--animation-move-duration) ease-in-out forwards;
}

@keyframes moveUp {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes moveFromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
