/* Auth main container styles */
.auth__main-container {
    grid-row: 1/-1;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: subgrid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

/* Background styles */
.auth__main-container__background {
    z-index: 1;
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

/* Right container styles */
.auth__main-container__right-container {
    z-index: 2;
    grid-column: 6/-1;
    grid-row: 1/-1;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    place-items: center;
    width: 100%;
    height: 100%;
}

/* Content container styles */
.auth__main-container__right-container__content-container {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    max-width: 50rem;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.auth__main-container__right-container__content-container * {
    width: 100%;
}

/* Title container styles */
.auth__main-container__right-container__content-container__title-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    place-items: center;
    width: 100%;
}

/* Title styles */
.auth__main-container__right-container__content-container__title-container__title {
    grid-column: 1/2;
    grid-row: 1/-1;
    justify-self: start;
    text-align: left;
}

/* Logo styles */
.asset--logo--graphic-text__container.auth__main-container__right-container__content-container__title-container__logo--graphic-text {
    grid-column: 2/-1;
    grid-row: 1/-1;
}

.asset--logo--graphic__container.auth__main-container__right-container__content-container__title-container__logo--graphic {
    grid-column: 2/-1;
    grid-row: 1/-1;
    display: none;
}

.asset--logo--graphic-text__container.auth__main-container__right-container__logo--graphic-text
{
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: end;
    display: none;
}

/* Form styles */
.auth__main-container__right-container__content-container__form {
    padding: 0.4rem 0;
}

/* Footer container styles */
.auth__main-container__right-container__content-container__footer-container {
    justify-self: flex-start;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
    padding-left: var(--input--horizontal-padding);
}

/* Responsive styles */
@media (max-width: 1600px) {
    .auth__main-container__right-container {
        grid-column: 5/-1;
    }
}

@media (max-width: 1300px) {
    .auth__main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .auth__main-container__right-container {
        grid-column: 1/-1;
        grid-row: 1/-1;
        background-color: transparent;
        padding: 3rem;
    }

    .auth__main-container__right-container__content-container {
        align-self: start;
        padding: 4rem 8rem;
        background-color: var(--background-color);
        border-radius: 16px;
        max-width: 70rem;
    }
}

@media (max-width: 650px) {
    .auth__main-container__right-container {
        padding: 3rem 0
    }

    .auth__main-container__right-container__content-container {
        padding: 4rem;
        border-radius: 0;
    }

    .auth__main-container__right-container__content-container__footer-container__item .reference__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .auth__main-container__right-container__content-container__footer-container__item .reference__container * {
        grid-row: auto;
        width: auto;
        display: block;
    }

    .auth__main-container__right-container__content-container__footer-container__item .reference__container *:not(:first-child) {
        padding-left: 0;
    }

    .asset--logo--graphic-text__container.auth__main-container__right-container__content-container__title-container__logo--graphic-text {
        display: none;
    }

    .asset--logo--graphic__container.auth__main-container__right-container__content-container__title-container__logo--graphic {
        display: grid;
    }
}

@media (max-width: 400px) {
    .auth__main-container__background.asset--background__container {
        display: none;
    }

    .auth__main-container__right-container {
        padding: 0
    }

    .auth__main-container__right-container__content-container {
        grid-row: 2/-1;
        padding: 1rem 3rem;
        border-radius: 0;
    }

    .auth__main-container__right-container__content-container__footer-container {
        padding-top: 1rem;
    }

     .asset--logo--graphic__container.auth__main-container__right-container__content-container__title-container__logo--graphic {
        display: none;
    }

    .asset--logo--graphic-text__container.auth__main-container__right-container__logo--graphic-text {
        padding: 2rem 3rem;
        display: grid;
    }
}