/* Root styles */
.app-container {
    background-image: url('/key--1980x1114.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Main Container styles */
.main-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
    height: 100%;
}

/* Right Container styles */
.right-container {
    grid-column: 6/-1;
    grid-row: 1/-1;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: subgrid;
    place-items: center;
    width: 100%;
}

/* Content Container styles */
.content-container {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    max-width: 50rem;
    padding: 2rem 0;
}

/* Content styles */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    width: 100%;
}

.content * {
    width: 100%;
}

/* Title Container styles */
.title-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    place-items: center;
    width: 100%;
}

/* Title styles */
.title {
    grid-column: 1/2;
    grid-row: 1/-1;
    text-align: left;
    padding-left: var(--input--horizontal-padding);
}

/* Logo styles */
.logo {
    grid-column: 2/-1;
    grid-row: 1/-1;
}

/* Form styles */
.form {
    padding: 1rem 0;
}

/* Submit Button styles */
.submit-button {
    margin-top: 1rem;
}

/* Footer Container styles */
.footer-container {
    justify-self: flex-start;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding-left: var(--input--horizontal-padding);
}

.footer-container li {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr;
}

.footer-container li * {
    grid-row: 1/-1;
    width: auto;
    display: inline-block;
}

.footer-container li *:not(:first-child) {
    padding-left: 1rem;
}

/* Responsive styles */
@media (max-width: 1600px) {
    .right-container {
        grid-column: 5/-1;
    }
}

@media (max-width: 1300px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .right-container {
        grid-column: 1/-1;
        grid-row: 1/-1;
        background-color: transparent;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-container {
        align-self: start;
        padding: 4rem 8rem;
        background-color: var(--background-color);
        border-radius: 16px;
        max-width: 70rem;
    }
}

@media (max-width: 650px) {
    .right-container {
        padding: 3rem 0
    }

    .content-container {
        padding: 2rem 4rem;
        border-radius: 0;
    }

    .footer-container li {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .footer-container li * {
        grid-row: auto;
        width: auto;
        display: block;
    }

    .footer-container li *:not(:first-child) {
        padding-left: 0;
    }

    .logo {
        display: none;
    }
}

@media (max-width: 400px) {
    .app-container {
        background-image: none;
    }

    .right-container {
        padding: 0
    }

    .content-container {
        padding: 1rem 3rem;
        border-radius: 0;
    }

    .footer-container {
        padding-top: 1rem;
    }
}