/* Modal overlay styles */
.modal__overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:var(--color-dark-grey);
    animation: appear--modal var(--opacity-transition-duration) ease-in-out forwards;
}

/* Modal content container styles */
.modal__content-container {
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}

/* Modal content styles */
.modal__content-container__content {
    background-color: var(--background-color);
    padding: 6rem;
    border-radius: 10px;
    max-width: 85rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 3rem 0;
    box-shadow: 0 0.25rem 0.5rem 0.1rem var(--color-dark-grey);
    opacity: 1;
    animation: appear-and-move-a-bit-up var(--animation-move-duration) ease-in-out forwards;
}

.modal__content-container__content > * {
    grid-column: 1/-1;
}

.modal__content-container__content:has(.modal__content-container__content__close-container) {
    grid-template-columns: 1fr auto;
    padding: 3rem;
    gap: 3rem 1rem
}

.modal__content-container__content:has(.modal__content-container__content__close-container) > * {
    grid-column: 1/2;
}

/* Close container styles */
.modal__content-container__content .modal__content-container__content__close-container {
    grid-column: 2/-1;
    grid-row: 1/-1;
    justify-self: end;
    align-self: start;
    cursor: pointer;
    transition: transform var(--scale-transition-duration) ease-in-out;
}

.modal__content-container__content .modal__content-container__content__close-container:hover {
    transform: scale(1.1);
}