/* Modal overlay styles */
.modal__overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:var(--color-dark-grey);
    animation: appear--modal var(--opacity-transition-duration) ease-in-out forwards;
}

/* Modal content container styles */
.modal__content-container {
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}

/* Modal content styles */
.modal__content-container__content {
    position: relative;
    background-color: var(--background-color);
    padding: 6rem;
    border-radius: 10px;
    min-width: 50rem;
    max-width: 85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: 0 0.25rem 0.5rem 0.1rem var(--color-dark-grey);
    opacity: 1;
    animation: appear-and-move-a-bit-up var(--animation-move-duration) ease-in-out forwards;
}

.modal__content-container__content__header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem 0;
}

/* Close container styles */
.modal__content-container__content__close-container{
    z-index: 20;
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
    transition: transform var(--scale-transition-duration) ease-in-out;
}

.modal__content-container__content__close-container:hover {
    transform: scale(1.1);
}

/* Responsive styles */
@media (max-width: 600px) {
    .modal__content-container{
        width: 100%;
    }

    .modal__content-container__content {
        min-width: auto;
        width: 100%;
        border-radius: 0;
    }
}