/* Verify email main container styles */
.verify-email__main-container {
    background-image: url('/key--1980x1114.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: grid;
    place-items: center;
}

/* Verify email content container styles */
.verify-email__main-container__content-container {
    backdrop-filter: blur(5px);
    background-color: var(--background-color);
    padding: 8rem 6rem;
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    border-radius: 10px;
    max-width: 85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* Title container styles */
.verify-email__main-container__content-container__title-container {
    display: grid;
    padding: 0 2rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    place-items: center;
    width: 100%;
}

/* Title styles */
.verify-email__main-container__content-container__title-container__title {
    grid-column: 1/2;
    grid-row: 1/-1;
    justify-self: start;
    text-align: left;
}

/* Graphic logo styles */
.logo--graphic__container.logo--graphic {
    display: none;
}

/* Content styles */
.verify-email__main-container__content-container__content {
    text-align: center;
}

/* Responsive styles */
@media (max-width: 850px) {
    .logo--graphic-text__container.logo--graphic-text {
        display: none;
    }

    .logo--graphic__container.logo--graphic.logo--graphic {
        display: block;
    }
}

@media (max-width: 700px) {
    .verify-email__main-container__content-container__title-container {
        padding: 0;
    }
}

@media (max-width: 650px) {
    .verify-email__main-container{
        background-image: none;
    }

    .verify-email__main-container__content-container{
        padding: 4rem 2rem;
    }

    .verify-email__main-container__content-container__title-container__title{
        justify-self: center;
        text-align: center;
    }

    .logo--graphic__container.logo--graphic.logo--graphic {
        display: none;
    }
}