/* Primary button component styles */
.button--primary {
    font-size: var(--text--button--font-size);
    font-weight: var(--text--button--font-weight);
    letter-spacing: var(--text--button--letter-spacing);
    text-transform: uppercase;
    border-radius: 8px;
    padding: 1.6rem 2.4rem;
    transition: background-color var(--color-transition-duration), color var(--color-transition-duration);
}

@media (prefers-color-scheme: light) {
    .button--primary {
        background-color: var(--color-medium-primary);
        color: var(--color-dark-grey);
    }

    .button--primary:hover {
        background-color: var(--color-light-primary);
    }

    .button--primary:active {
        background-color: var(--color-dark-primary);
        color: var(--color-light-grey);
    }

    .button--primary:disabled {
        background-color: var(--color-light-primary);
        color: var(--color-dark-grey);
    }
}

@media (prefers-color-scheme: dark) {
    .button--primary {
        background-color: var(--color-dark-primary);
        color: var(--color-light-grey);
    }

    .button--primary:hover {
        background-color: var(--color-medium-primary);
    }

    .button--primary:active {
        background-color: var(--color-light-primary);
        color: var(--color-dark-grey);
    }

    .button--primary:disabled {
        background-color: var(--color-dark-grey);
        color: var(--color-light-primary);
    }
}