/* Primary Button component styles */
.button.primary {
    border-radius: 8px;
    padding: 1.6rem 2.4rem;
    transition: background-color var(--color-transition-duration);
}

.button.primary:focus,
.button.primary:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
    .button.primary {
        background-color: var(--color-secondary);
    }

    .button.primary:hover {
        background-color: var(--color-tertiary);
    }
}

@media (prefers-color-scheme: dark) {
    .button.primary {
        background-color: var(--color-primary);
    }

    .button.primary:hover {
        background-color: var(--color-secondary);
    }
}