/* Subtitle text component styles */
.text--subtitle {
    font-size: var(--text--subtitle--font-size);
    font-weight: var(--text--subtitle--font-weight);
    letter-spacing: var(--text--subtitle--letter-spacing);
    color: var(--text--color);
}

