/* Subtitle component styles */
.subtitle{
    font-size: var(--subtitle--font-size);
    font-weight: var(--subtitle--font-weight);
    color: var(--text--color);
    letter-spacing: var(--letter-spacing);
}

