/* Fira Code */
@font-face {
    font-family: 'Fira Code';
    src: url('/src/assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

/* Colors */
:root {
    --font-family: 'Fira Code', sans-serif;
    --color-dark-primary: #1c7ed6;
    --color-medium-primary: #4dabf7;
    --color-light-primary: #a5d8ff;
    --color-dark-secondary: #099268;
    --color-medium-secondary: #38d9a9;
    --color-light-secondary: #96f2d7;
    --color-darker-grey: #1a1c1f;
    --color-dark-grey: #212529;
    --color-medium-grey: #495057;
    --color-light-grey: #ced4da;
    --color-lighter-grey: #f8f9fa;
    --color-error: #fa5252;
    --color-dark-error: #c92a2a;
    --color-transition-duration: 0.25s;
    --scale-transition-duration: 0.25s;
    --opacity-transition-duration: 0.25s;
    --animation-move-duration: 0.5s;
    --input--horizontal-padding: 1.2rem;
    --outline-width: 0.2rem;
    --border-width: 0.2rem;
    --icon--big--size: 2.6rem;
    --icon--big--weight: 500;
    --icon--medium--size: 2.2rem;
    --icon--medium--weight: 500;
    --icon--small--size: 1.8rem;
    --icon--small--weight: 500;
    --logo--graphic--size: 4rem;
    --logo--graphic-text--size: 1.8rem;
    --logo--graphic-text--gap: 1rem;
    --text--title--font-size: 4.2rem;
    --text--title--font-weight: 800;
    --text--title--letter-spacing: 1px;
    --text--subtitle--font-size: 3rem;
    --text--subtitle--font-weight: 700;
    --text--subtitle--letter-spacing: 1px;
    --text--paragraph--font-size: 1.6rem;
    --text--paragraph--font-weight: 400;
    --text--paragraph--letter-spacing: 0;
    --text--small--font-size: 1.4rem;
    --text--small--font-weight: 500;
    --text--small--letter-spacing: 1px;
    --text--label--font-size: 1.4rem;
    --text--label--font-weight: 500;
    --text--label--letter-spacing: 2px;
    --text--input--font-size: 1.6rem;
    --text--input--font-weight: 300;
    --text--input--letter-spacing: 0;
    --text--button--primary--font-size: 1.6rem;
    --text--button--primary--font-weight: 700;
    --text--button--primary--letter-spacing: 2px;
    --text--button--secondary--font-size: 1.4rem;
    --text--button--secondary--font-weight: 600;
    --text--button--secondary--letter-spacing: 1px;
    --text--link--font-size: 1.6rem;
    --text--link--font-weight: 600;
    --text--link--letter-spacing: 1px;
    --text--logo--font-size: 2.2rem;
    --text--logo--font-weight: 700;
    --text--logo--letter-spacing: 1px;
    --modal--opacity: 0.5;
    --label--gap: 0.8rem;
    --modal--z-index: 10;
    --notifications--z-index: 5;
    --auth--z-index: 1;
    --dashboard--note-container--z-index: 2;
    --dashboard--menu-container--z-index: 2;
    --color-palette--icon--size: 2.4rem;
    --color-palette--icon--border--width: 0.35rem;
}

/* Global Styles */
:root {
    font-family: "Fira Code", sans-serif;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

/* Root */
#root {
    height: 100%;
}

/* HTML and Body */
html, body {
    height: 100%;
    background-color: var(--background-color);
}

/* List */
li {
    list-style-type: none;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--color-darker-grey);
        --color: var(--color-lighter-grey);
        --text--color: var(--color-light-grey);
        --text--background-color: var(--color-dark-grey);
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--color-lighter-grey);
        --color: var(--color-darker-grey);
        --text--color: var(--color-dark-grey);
        --text--background-color: var(--color-light-grey);
    }
}

/* Loading container styles */
.app__loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Spinner styles */
.app__loading-container__spinner {
    width: 5rem;
    height: 5rem;
    border: 1rem solid var(--color-dark-primary);
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes move-from-top {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes move-from-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes move-to-right {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes move-from-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes move-to-left {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes appear-and-move-a-bit-down {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes appear-and-move-a-bit-up {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}