/* Fira Code */
@font-face {
    font-family: 'Fira Code';
    src: url('/src/assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

/* Colors */
:root {
    --color-primary: #1864ab;
    --color-secondary: #4dabf7;
    --color-tertiary: #d0ebff;
    --color-darker-grey: #1a1c1f;
    --color-dark-grey: #212529;
    --color-medium-grey: #495057;
    --color-light-grey: #ced4da;
    --color-lighter-grey: #f8f9fa;
    --color-transition-duration: 0.25s;
    --transform-transition-duration: 0.25s;
}

/* Global Styles */
:root {
    font-family: "Fira Code", sans-serif;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

/* Root */
#root {
    height: 100%;
}

/* HTML and Body */
html, body {
    height: 100%;
}

/* List */
li {
    list-style-type: none;
}

/* Body */
body {
    background-color: var(--background-color);
    color: var(--color);
}

/* Title */
.title {
    font-size: 5rem;
    font-weight: 800;
}

/* Subtitle */
.subtitle {
    font-size: 3rem;
    font-weight: 700;
}

/* Text */
.text {
    font-size: 1.8rem;
    font-weight: 500;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--color-darker-grey);
        --color: var(--color-lighter-grey);
    }

    .subtitle {
        color: var(--color-light-grey);
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--color-lighter-grey);
        --color: var(--color-darker-grey);
    }

    .subtitle {
        color: var(--color-medium-grey);
    }
}