/* Link component styles */
.link__text {
    font-size: var(--text--link--font-size);
    font-weight: var(--text--link--font-weight);
    letter-spacing: var(--text--link--letter-spacing);
    text-decoration: underline;
}

.link__text,
.link__text:visited {
    transition: color var(--color-transition-duration);
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    .link__text,
    .link__text:visited {
        color: var(--color-medium-primary);
    }

    .link__text:hover {
        color: var(--color-dark-primary);
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .link__text,
    .link__text:visited {
        color: var(--color-dark-primary);
    }

    .link__text:hover {
        color: var(--color-light-primary);
    }
}

