/* Link component styles */
.text--paragraph.link__text,
.text--paragraph.link__text:visited {
    text-decoration: inherit;
    transition: color var(--color-transition-duration);
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    .text--paragraph.link__text {
        color: var(--color-secondary);
    }

    .text--paragraph.link__text:visited {
        color: var(--color-primary);
    }

    .text--paragraph.link__text:hover {
        color: var(--color-primary);
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .text--paragraph.link__text {
        color: var(--color-primary);
    }

    .text--paragraph.link__text:visited {
        color: var(--color-secondary);
    }

    .text--paragraph.link__text:hover {
        color: var(--color-secondary);
    }
}

